<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <title>EAVO - Dashboard</title>
    <!--<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>-->
    <!--<meta http-equiv="X-UA-Compatible" content="IE=edge">-->
    <!--<meta name="viewport" content="width=device-width, initial-scale=1">-->

    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">-->
    <link rel="stylesheet" type="text/css" th:href="@{/resources/vendors/bootstrap/dist/css/bootstrap.min.css}"/>
    <!--<link rel="stylesheet" type="text/css" th:href="@{/resources/css/custom.css}">-->
    <!--<link th:href="@{resources/vendors/font-awesome/css/font-awesome.min.css}" rel="stylesheet">-->
    <link rel="icon" type="image/png" th:href="@{/resources/images/favicon.png}"/>
    <!--<link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>-->
    <!--<link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>-->
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <!-- VENDOR CSS -->
    <!--<link rel="stylesheet" href="assets/vendor/bootstrap/css/bootstrap.min.css">-->
    <link rel="stylesheet" th:href="@{/resources/vendors/font-awesome/css/font-awesome.min.css}"/>
    <link rel="stylesheet" th:href="@{/resources/assets/vendor/linearicons/style.css}"/>
    <!-- MAIN CSS -->
    <link rel="stylesheet" th:href="@{/resources/assets/css/main.css}"/>
    <!-- FOR DEMO PURPOSES ONLY. You should remove this in your project -->
    <link rel="stylesheet" th:href="@{/resources/assets/css/demo.css}"/>
    <!-- GOOGLE FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet"/>
    <!-- ICONS -->
    <!--<link rel="apple-touch-icon" sizes="76x76" th:href="@{/resources/assets/img/apple-icon.png}">-->
    <!--<link rel="icon" type="image/png" sizes="96x96" th:href="@{/resources/assets/img/favicon.png}">-->
</head>
<body>
<div id="wrapper">
            <div layout:fragment="content"></div>
</div>

<script th:src="@{/resources/assets/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/resources/assets/vendor/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/resources/assets/vendor/jquery-slimscroll/jquery.slimscroll.min.js}"></script>
<script th:src="@{/resources/assets/scripts/klorofil-common.js}"></script>

</body>
</html>