<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<div id="sidebar-nav" class="sidebar" th:fragment="menu">
    <div class="sidebar-scroll">
        <nav>
            <ul class="nav">
                <li><a href="/dashboard" class="active" item="menu"><i class="lnr lnr-home"></i> <span>Dashboard</span></a></li>
            </ul>
            <ul class="nav">
                <li><a href="/vehicle" class="" item="menu"><i class="lnr lnr-car"></i> <span>Vehicle</span></a></li>
            </ul>
        </nav>
    </div>
</div>