<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" layout:decorate="~{fragments/layout}"
      xmlns:layout="http://www.w3.org/1999/xhtml">
<div layout:fragment="content">
    <h3 class="page-title">Dashboard</h3>
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">Statistics</h3>
                    <div class="right">
                        <button type="button" class="btn-toggle-collapse"><i class="lnr lnr-chevron-up"></i></button>
                        <button type="button" class="btn-remove"><i class="lnr lnr-cross"></i></button>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="col-md-3 col-sm-4">
                        <div class="metric">
                            <span class="icon"><i class="fas fa-fire"></i></span>
                            <p>
                                <!--<span class="number" th:text="${stats.getAvgConsumption()}">1,252</span>-->
                                <span class="number" th:text="${#numbers.formatDecimal(stats.getAverageConsumption(), 0, 'COMMA', 2, 'POINT') + ' l/100km'}"></span>
                                <span class="title">Avg. Consumption</span>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4">
                        <div class="metric">
                            <span class="icon"><i class="fas fa-filter"></i></span>
                            <p>
                                <span class="number" th:text="${stats.getRefuelCount()}">1,252</span>
                                <span class="title">Refuels</span>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4">
                        <div class="metric">
                            <span class="icon"><i class="fas fa-road"></i></span>
                            <p>
                                <span class="title">Distance Travelled</span>
                                <span class="number" th:text="${stats.getDistanceTraveled() + ' km'}">1,252</span>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4">
                        <div class="metric">
                            <span class="icon"><i class="fas fa-funnel-dollar"></i></span>
                            <p>
                                <span class="number" th:text="${#numbers.formatDecimal(stats.getFuelSpendings(), 0, 'COMMA', 2, 'POINT') + ' PLN'}"></span>
                                <span class="title">Fuel Spendings</span>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4">
                        <div class="metric">
                            <span class="icon"><i class="fas fa-wrench"></i></span>
                            <p>
                                <span class="number" th:text="${stats.getRepairCount()}"></span>
                                <span class="title">Repairs</span>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4">
                        <div class="metric">
                            <span class="icon"><i class="fas fa-dollar-sign"></i></span>
                            <p>
                                <span class="number" th:text="${#numbers.formatDecimal(stats.getRepairSpendings(), 0, 'COMMA', 2, 'POINT') + ' PLN'}"></span>
                                <span class="title">Repair Spendings</span>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4">
                        <div class="metric">
                            <span class="icon"><i class="fas fa-clock"></i></span>
                            <p>
                                <span class="number" th:text="${#numbers.formatDecimal(stats.getAverageTimeBetweenRefuels(), 0, 'COMMA', 2, 'POINT') + ' days'}"></span>
                                <span class="title">Average Time Between Refuel</span>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4">
                        <div class="metric">
                            <span class="icon"><i class="fas fa-dollar-sign"></i></span>
                            <p>
                                <span class="number" th:text="${#numbers.formatDecimal(stats.getAverageFuelPrice(), 0, 'COMMA', 2, 'POINT') + ' PLN'}"></span>
                                <span class="title">Average Fuel Price</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">Recent Refuels</h3>
                    <div class="right">
                        <button type="button" class="btn-toggle-collapse"><i class="lnr lnr-chevron-up"></i></button>
                        <button type="button" class="btn-remove"><i class="lnr lnr-cross"></i></button>
                    </div>
                </div>
                <div class="panel-body no-padding">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Order No.</th>
                            <th>Name</th>
                            <th>Amount</th>
                            <th>Date &amp; Time</th>
                            <th>Status</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td><a href="#">763648</a></td>
                            <td>Steve</td>
                            <td>$122</td>
                            <td>Oct 21, 2016</td>
                            <td><span class="label label-success">COMPLETED</span></td>
                        </tr>
                        <tr>
                            <td><a href="#">763649</a></td>
                            <td>Amber</td>
                            <td>$62</td>
                            <td>Oct 21, 2016</td>
                            <td><span class="label label-warning">PENDING</span></td>
                        </tr>
                        <tr>
                            <td><a href="#">763650</a></td>
                            <td>Michael</td>
                            <td>$34</td>
                            <td>Oct 18, 2016</td>
                            <td><span class="label label-danger">FAILED</span></td>
                        </tr>
                        <tr>
                            <td><a href="#">763651</a></td>
                            <td>Roger</td>
                            <td>$186</td>
                            <td>Oct 17, 2016</td>
                            <td><span class="label label-success">SUCCESS</span></td>
                        </tr>
                        <tr>
                            <td><a href="#">763652</a></td>
                            <td>Smith</td>
                            <td>$362</td>
                            <td>Oct 16, 2016</td>
                            <td><span class="label label-success">SUCCESS</span></td>
                        </tr>
                        <tr>
                            <td><a href="#">763653</a></td>
                            <td>Smith</td>
                            <td>$362</td>
                            <td>Oct 16, 2016</td>
                            <td><span class="label label-success">SUCCESS</span></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-md-6"><span class="panel-note"><i
                                class="fa fa-clock-o"></i> Last 5 refuels</span></div>
                        <div class="col-md-6 text-right"><a href="#" class="btn btn-primary">View All Refuels</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <!-- TASKS -->
                <div class="panel">
                    <div class="panel-heading">
                        <h3 class="panel-title">Car Parts Wear</h3>
                        <div class="right">
                            <button type="button" class="btn-toggle-collapse"><i class="lnr lnr-chevron-up"></i>
                            </button>
                            <button type="button" class="btn-remove"><i class="lnr lnr-cross"></i></button>
                        </div>
                    </div>
                    <div class="panel-body">
                        <ul class="list-unstyled task-list">
                            <li>
                                <p>Updating Users Settings <span class="label-percent">23%</span></p>
                                <div class="progress progress-xs">
                                    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="23"
                                         aria-valuemin="0" aria-valuemax="100" style="width:23%">
                                        <span class="sr-only">23% Complete</span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <p>Load &amp; Stress Test <span class="label-percent">80%</span></p>
                                <div class="progress progress-xs">
                                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="80"
                                         aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                                        <span class="sr-only">80% Complete</span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <p>Data Duplication Check <span class="label-percent">100%</span></p>
                                <div class="progress progress-xs">
                                    <div class="progress-bar progress-bar-success" role="progressbar"
                                         aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                                        <span class="sr-only">Success</span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <p>Server Check <span class="label-percent">45%</span></p>
                                <div class="progress progress-xs">
                                    <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="45"
                                         aria-valuemin="0" aria-valuemax="100" style="width: 45%">
                                        <span class="sr-only">45% Complete</span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <p>Mobile App Development <span class="label-percent">10%</span></p>
                                <div class="progress progress-xs">
                                    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="10"
                                         aria-valuemin="0" aria-valuemax="100" style="width: 10%">
                                        <span class="sr-only">10% Complete</span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- END TASKS -->
            </div>
        </div>
    </div>
</div>
</html>